.navbar {
    background-color: #94e6a6;
     padding: 1px; 
     margin-bottom: 1px; 
}

.navbar-ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
}

.navbar-left {
    display: flex;
    gap: 20px;
    align-items: center;
}


.navbar-link {
    text-decoration: none;
    color: black
}

.active {
    color: rgb(255, 77, 7);
}

.navbar-logo {
    width: 50px;

}

.navbar-contact-btn {
    padding: 10px;
    background-color: rgb(243, 74, 13);
    color: rgb(70, 37, 37);
    font-weight: bold;
    font-size: 20px;
    width: 100px;
    border-radius: 10px;
    margin-right: 20px;
     margin-top: 50px; 
    text-decoration: none;
         align-items: center; 
}